In [126]:
import numpy as np
import pandas as pd
import matplotlib as plt
%matplotlib inline
import pickle
import os
import sklearn.tree 
from sklearn.tree import DecisionTreeClassifier
import h2o
import random

In [1]:
from sklearn import metrics

In [176]:
h2o.init()

--------------------------  -----------------------------------------------
H2O cluster uptime:         20 hours 48 minutes 52 seconds 875 milliseconds
H2O cluster version:        3.2.0.9
H2O cluster name:           me
H2O cluster total nodes:    1
H2O cluster total memory:   1.98 GB
H2O cluster total cores:    4
H2O cluster allowed cores:  4
H2O cluster healthy:        True
H2O Connection ip:          127.0.0.1
H2O Connection port:        54321
--------------------------  -----------------------------------------------

In [8]:
#define file path
file_path='e:/nycds/webscraping project/price_na_drp.csv'

In [11]:
#load data by using dictionary for params setting 
params_load_data={'path':file_path, 
                  'destination_frame':'prcnadrp','header':1,'sep':','}
prcnadrp=h2o.import_file(**params_load_data)

Parse Progress: [##################################################] 100%
Imported e:/nycds/webscraping project/price_na_drp.csv. Parsed 2,844 rows and 12 cols

In [10]:
#count number of records
num_records=data_hex.nrow

#print the number with comment 
print 'Records number in this data set is :'+str(num_records)

Records number in this data set is :2844

In [12]:
prcnadrp.head

H2OFrame with 2844 rows and 12 columns:
   C1  Unnamed: 0               street address        city state  zip code  \
0   1           1    2907 East South Boulevard  Montgomery    AL     36116
1   2           2          2150 Douglas Avenue     Brewton    AL     36426
2   3           3                 254 W Bypass   Andalusia    AL     36420
3   4           4  2608 West Meighan Boulevard     Gadsden    AL     35904
4   5           5  2490 Schillinger Road South      Mobile    AL     36695
5   8           8            5651 Endeavor Way      Tanner    AL     35671
6   9           9            5860 Endeavor Way      Tanner    AL     35671
7  10          10        1524 East 10th Street    Anniston    AL     36207
8  11          11          5510 McFarland Blvd   Northport    AL     35476
9  12          12            5950 Endeavor Way      Tanner    AL     35671

  listing price                                      property name  \
0    $2,945,000  One Center - $30MM Anchors Underway. 20% Final...
1    $1,577,901    Taco Bell - New Construction 24 Years Remaining
2    $1,933,996    Taco Bell - New Construction 24 Years Remaining
3    $4,406,000          CVS/pharmacy | 18+ Yr Lease | BBB+ Credit
4    $5,085,714                 Walgreens | Mobile, AL | 7.00% CAP
5    $5,216,200                         AL-150 Huntsville, Alabama
6    $5,749,800                    AL-130 SouthPoint Business Park
7    $2,690,000         Lagarde Apartments 10% down Bank Financing
8    $3,950,000                          Big Lots / Tractor Supply
9    $7,358,400       SouthPoint Business Park, Alabama, AL-136-05

     property type  size sf  property class  cap rate
0      Office Bldg  256,333             NaN       NaN
1       Restaurant    2,403             NaN       NaN
2       Restaurant    2,600             NaN       NaN
3    Free Std Bldg   11,945             NaN    0.0610
4    Free Std Bldg   15,120             NaN    0.0700
5  Distr Warehouse  206,160             NaN       NaN
6  Indust Biz Park  108,960             NaN       NaN
7    Mid High Rise   53,000              67    0.1000
8        Strip Ctr   58,035             NaN    0.0715
9  Distr Warehouse  152,160             NaN       NaN

In [17]:
prcnadrp.names

[u'',
 u'Unnamed: 0',
 u'street address',
 u'city',
 u'state',
 u'zip code',
 u'listing price',
 u'property name',
 u'property type',
 u'size sf',
 u'property class',
 u'cap rate']

In [19]:
prcnadrp=prcnadrp.drop('')

H2OFrame with 2844 rows and 11 columns:
   Unnamed: 0               street address        city state  zip code  \
0           1    2907 East South Boulevard  Montgomery    AL     36116
1           2          2150 Douglas Avenue     Brewton    AL     36426
2           3                 254 W Bypass   Andalusia    AL     36420
3           4  2608 West Meighan Boulevard     Gadsden    AL     35904
4           5  2490 Schillinger Road South      Mobile    AL     36695
5           8            5651 Endeavor Way      Tanner    AL     35671
6           9            5860 Endeavor Way      Tanner    AL     35671
7          10        1524 East 10th Street    Anniston    AL     36207
8          11          5510 McFarland Blvd   Northport    AL     35476
9          12            5950 Endeavor Way      Tanner    AL     35671

  listing price                                      property name  \
0    $2,945,000  One Center - $30MM Anchors Underway. 20% Final...
1    $1,577,901    Taco Bell - New Construction 24 Years Remaining
2    $1,933,996    Taco Bell - New Construction 24 Years Remaining
3    $4,406,000          CVS/pharmacy | 18+ Yr Lease | BBB+ Credit
4    $5,085,714                 Walgreens | Mobile, AL | 7.00% CAP
5    $5,216,200                         AL-150 Huntsville, Alabama
6    $5,749,800                    AL-130 SouthPoint Business Park
7    $2,690,000         Lagarde Apartments 10% down Bank Financing
8    $3,950,000                          Big Lots / Tractor Supply
9    $7,358,400       SouthPoint Business Park, Alabama, AL-136-05

     property type  size sf  property class  cap rate
0      Office Bldg  256,333             NaN       NaN
1       Restaurant    2,403             NaN       NaN
2       Restaurant    2,600             NaN       NaN
3    Free Std Bldg   11,945             NaN    0.0610
4    Free Std Bldg   15,120             NaN    0.0700
5  Distr Warehouse  206,160             NaN       NaN
6  Indust Biz Park  108,960             NaN       NaN
7    Mid High Rise   53,000              67    0.1000
8        Strip Ctr   58,035             NaN    0.0715
9  Distr Warehouse  152,160             NaN       NaN

In [21]:
prcnadrp=prcnadrp.drop('Unnamed: 0')

In [24]:
prcnadrp=prcnadrp.drop('C1')

In [101]:
prcnadrp=prcnadrp.drop('target')

In [26]:
prcnadrp.head

H2OFrame with 2844 rows and 10 columns:
                street address        city state  zip code listing price  \
0    2907 East South Boulevard  Montgomery    AL     36116    $2,945,000
1          2150 Douglas Avenue     Brewton    AL     36426    $1,577,901
2                 254 W Bypass   Andalusia    AL     36420    $1,933,996
3  2608 West Meighan Boulevard     Gadsden    AL     35904    $4,406,000
4  2490 Schillinger Road South      Mobile    AL     36695    $5,085,714
5            5651 Endeavor Way      Tanner    AL     35671    $5,216,200
6            5860 Endeavor Way      Tanner    AL     35671    $5,749,800
7        1524 East 10th Street    Anniston    AL     36207    $2,690,000
8          5510 McFarland Blvd   Northport    AL     35476    $3,950,000
9            5950 Endeavor Way      Tanner    AL     35671    $7,358,400

                                       property name    property type  \
0  One Center - $30MM Anchors Underway. 20% Final...      Office Bldg
1    Taco Bell - New Construction 24 Years Remaining       Restaurant
2    Taco Bell - New Construction 24 Years Remaining       Restaurant
3          CVS/pharmacy | 18+ Yr Lease | BBB+ Credit    Free Std Bldg
4                 Walgreens | Mobile, AL | 7.00% CAP    Free Std Bldg
5                         AL-150 Huntsville, Alabama  Distr Warehouse
6                    AL-130 SouthPoint Business Park  Indust Biz Park
7         Lagarde Apartments 10% down Bank Financing    Mid High Rise
8                          Big Lots / Tractor Supply        Strip Ctr
9       SouthPoint Business Park, Alabama, AL-136-05  Distr Warehouse

   size sf  property class  cap rate
0  256,333             NaN       NaN
1    2,403             NaN       NaN
2    2,600             NaN       NaN
3   11,945             NaN    0.0610
4   15,120             NaN    0.0700
5  206,160             NaN       NaN
6  108,960             NaN       NaN
7   53,000              67    0.1000
8   58,035             NaN    0.0715
9  152,160             NaN       NaN

In [102]:
#assign response and features variables 
#response variable 
response=unicode('property type')

#column names 
features=prcnadrp.names

In [103]:
#find the index of response variable 
for idx, feature in enumerate(features):
    if feature == response:
        idx_response=idx

In [104]:
#count number of features 
num_features_all=len(features)

In [105]:
#remove response 
features.remove(response)

#count number of resulting features
num_features=len(features)

#print with description 
print 'Number of features BEFORE removing response is :'+str(num_features_all)
print 'Number of features After removing response is : '+str(num_features)

Number of features BEFORE removing response is :10
Number of features After removing response is : 9

In [106]:
#splitting the data set
# creating a vector with uniformly distributed numbers between 0 and 1
random_idx=prcnadrp[idx_response].runif(seed=1234)
random_idx.head(10)

H2OFrame with 10 rows and 1 columns:
        rnd
0  0.732572
1  0.651357
2  0.216731
3  0.588950
4  0.083199
5  0.299730
6  0.821594
7  0.918547
8  0.727564
9  0.358803

In [107]:
len(random_idx)

2844

In [95]:
#prcnadrp['target']=prcnadrp['listing price'].asnumeric
prcnadrp['property type'].unique()

H2OFrame with 59 rows and 1 columns:
                    C1
0             Agri Biz
1         Agricultural
2               Anchor
3      Assisted Living
4        Community Ctr
5             Day Care
6      Distr Warehouse
7  Du / Tri / Fourplex
8        Econ. Service
9           Flex Space

In [108]:
#split into training and testing data set 
train_set=prcnadrp[random_idx<0.7]
test_set=prcnadrp[random_idx>=0.7]

In [109]:
#export data set into data frame (temp df)
temp_df=prcnadrp.as_data_frame()

#count number of True and False
num_false=temp_df.iloc[:,idx_response].value_counts()[0]
num_true=temp_df.iloc[:,idx_response].value_counts()[1]

#delete temp_df from memory 
del temp_df

#calculate ratio
ratio_true=float(num_true)/(num_false+num_true)

#print out of the ratio
print round(ratio_true,3)

0.46

In [110]:
# export data set into data frame(temp df)
temp_df_train=train_set.as_data_frame()
temp_df_test=test_set.as_data_frame()

#count number of True and False
num_false_train=temp_df_train.iloc[:,idx_response].value_counts()[0]
num_false_test=temp_df_test.iloc[:,idx_response].value_counts()[0]

num_true_train=temp_df_train.iloc[:,idx_response].value_counts()[1]
num_true_test=temp_df_test.iloc[:,idx_response].value_counts()[1]

#delete temp_df from memory
del temp_df_train 
del temp_df_test 

#calculate ratio
ratio_true_train=float(num_true_train)/(num_false_train +num_true_train)
ratio_true_test=float(num_true_test)/(num_false_test+num_true_test)

#print out the ratio
print round(ratio_true_train,3)
print round(ratio_true_test,3)

0.463
0.492

In [111]:
#holdout splits
#a vector with uniformly distributed numbers between 0 and 1 
random_idx=train_set[idx_response].runif()

#split the data set into two holdout sets 

train_holdout_hex=train_set[random_idx<0.8]
validation_holdout_hex=train_set[random_idx>=0.8]

#export data set into data frame (temp df)
temp_df_train=train_holdout_hex.as_data_frame()
temp_df_valid=validation_holdout_hex.as_data_frame()

#count number of True and False
num_false_train=temp_df_train.iloc[:,idx_response].value_counts()[0]
num_false_valid=temp_df_valid.iloc[:,idx_response].value_counts()[0]

num_true_train=temp_df_train.iloc[:,idx_response].value_counts()[1]
num_true_valid=temp_df_valid.iloc[:,idx_response].value_counts()[1]

#delete temp_df from memory 
del temp_df_train, temp_df_valid 

#calculate ratio 
ratio_true_train=float(num_true_train)/(num_false_train + num_true)
ratio_true_valid=float(num_true_valid)/(num_false_valid+num_true)

#print out the ratio 
print round(ratio_true_train,3)
print round(ratio_true_valid,3)

0.339
0.121

In [158]:
print features, len(features),'\n'
print response

[u'street address', u'city', u'state', u'zip code', u'listing price', u'property name', u'size sf', u'property class', u'cap rate'] 9

property type

In [112]:
#GBM model development 
#range of grid search 
range_ntrees=np.arange(500,10000,100)
range_depth=np.arange(2,4,1)
range_min_rows=np.arange(10,20,1)

#sampling number
num_models=10

In [113]:
#define empty list to store the models 
gbm_models=[]

#loop over
for id_model in range(num_models):
    
    #choose mode parameters 
    ntree=random.sample(range_ntrees,1)[0]
    depth=random.sample(range_depth,1)[0]
    min_rows=random.sample(range_min_rows,1)[0]
    
    #build model 
    params_model={'x': features,
                  'y': response,
                  'training_frame':training_holdout_hex,
                  'validation_frame':validation_holdout_hex,
                  'ntrees':ntree,
                  'max_depth':depth,
                  'learn_rate':0.01
                  }
    gbm_model=h2o.gbm(**params_model)
    
    # store model 
    gbm_models.append(gbm_model)

gbm Model Build Progress: [##################################################] 100%

gbm Model Build Progress: [##################################################] 100%

gbm Model Build Progress: [##################################################] 100%

gbm Model Build Progress: [##################################################] 100%

gbm Model Build Progress: [##################################################] 100%

gbm Model Build Progress: [##################################################] 100%

gbm Model Build Progress: [##################################################] 100%

gbm Model Build Progress: [##################################################] 100%

gbm Model Build Progress: [##################################################] 100%

gbm Model Build Progress: [##################################################] 100%

In [177]:
# ROC curve 
#gbm_models[0].model_performance()
test_set.head()

H2OFrame with 10 rows and 10 columns:
                street address        city state  zip code listing price  \
0    2907 East South Boulevard  Montgomery    AL     36116    $2,945,000
1            5860 Endeavor Way      Tanner    AL     35671    $5,749,800
2        1524 East 10th Street    Anniston    AL     36207    $2,690,000
3          5510 McFarland Blvd   Northport    AL     35476    $3,950,000
4    2907 East South Boulevard  Montgomery    AL     36116    $2,945,000
5  2608 West Meighan Boulevard     Gadsden    AL     35904    $4,406,000
6          5510 McFarland Blvd   Northport    AL     35476    $3,950,000
7                      Hwy 280     Chelsea    AL     35043      $995,000
8           7033 Airport Blvd.      Mobile    AL     36608    $6,979,412
9            5271 Endeavor Way  Huntsville    AL     35671   $15,514,000

                                       property name    property type  \
0  One Center - $30MM Anchors Underway. 20% Final...      Office Bldg
1                    AL-130 SouthPoint Business Park  Indust Biz Park
2         Lagarde Apartments 10% down Bank Financing    Mid High Rise
3                          Big Lots / Tractor Supply        Strip Ctr
4  One Center - $30MM Anchors Underway. 20% Final...      Office Bldg
5          CVS/pharmacy | 18+ Yr Lease | BBB+ Credit    Free Std Bldg
6                          Big Lots / Tractor Supply        Strip Ctr
7                               Hwy 280E & Essex Rd.      Resid. Land
8            Education Affiliates DBA Fortis College    Free Std Bldg
9                    AL-159 SouthPoint Business Park  Distr Warehouse

   size sf  property class  cap rate
0  256,333             NaN       NaN
1  108,960             NaN       NaN
2   53,000              67    0.1000
3   58,035             NaN    0.0715
4  256,333             NaN       NaN
5   11,945             NaN    0.0610
6   58,035             NaN    0.0715
7    29.75             NaN       NaN
8   35,000             NaN    0.0850
9  327,600             NaN       NaN

In [144]:
gbm_models[0].predict(test_set)

H2OFrame with 891 rows and 60 columns:
           predict      Agri Biz  Agricultural        Anchor  Assisted Living  \
0    Free Std Bldg  6.392276e-05  3.866805e-23  2.977840e-32     2.996282e-32
1  Distr Warehouse  5.876863e-10  7.330165e-27  2.736807e-37     1.763991e-36
2             Mfg.  7.883240e-10  4.752531e-28  3.670137e-37     2.659947e-29
3    Multifam Land  2.069746e-12  1.067677e-03  9.642668e-40     1.373532e-12
4    Free Std Bldg  6.392276e-05  3.866805e-23  2.977840e-32     2.996282e-32
5   Off. Warehouse  7.333598e-13  3.783031e-04  3.416624e-40     4.683481e-13
6    Multifam Land  2.069746e-12  1.067677e-03  9.642668e-40     1.373532e-12
7     Self Storage  7.694458e-12  4.639859e-30  3.582571e-39     7.628662e-37
8     Other Retail  2.610557e-07  1.578925e-25  1.216127e-34     1.223479e-34
9     Medical Off.  3.238099e-09  2.338959e-27  1.508555e-36     1.651890e-36

   Community Ctr      Day Care  Distr Warehouse  Du / Tri / Fourplex  \
0   6.392276e-05  6.392276e-05     5.554912e-25         4.370468e-24
1   5.876863e-10  5.876863e-10     1.000000e+00         4.011496e-29
2   7.883240e-10  7.883240e-10     4.255855e-30         5.924076e-22
3   2.069746e-12  2.069746e-12     3.521856e-03         1.952796e-28
4   6.392276e-05  6.392276e-05     5.554912e-25         4.370468e-24
5   7.333598e-13  7.333598e-13     1.247876e-03         5.341840e-29
6   2.069746e-12  2.069746e-12     3.521856e-03         1.952796e-28
7   7.694458e-12  7.694458e-12     1.232822e-31         5.250081e-31
8   2.610557e-07  2.610557e-07     7.447146e-28         3.089145e-26
9   3.238099e-09  3.238099e-09     6.048719e-29         2.214091e-28

   Econ. Service      ...                SFR  Self Storage  Specialty Ctr  \
0   9.663052e-23      ...       2.091170e-23  3.205378e-20   6.392276e-05
1   8.874984e-28      ...       5.883713e-28  2.555184e-26   5.876863e-10
2   2.375310e-15      ...       1.311641e-28  3.828691e-25   7.883240e-10
3   1.191869e-05      ...       1.039836e-03  1.060595e-02   2.069746e-12
4   9.663052e-23      ...       2.091170e-23  3.205378e-20   6.392276e-05
5   4.223074e-06      ...       3.684382e-04  4.325489e-02   7.333598e-13
6   1.191869e-05      ...       1.039836e-03  1.060595e-02   2.069746e-12
7   1.355294e-28      ...       4.239021e-29  1.000000e+00   7.694458e-12
8   3.946317e-25      ...       4.615400e-26  1.424332e-22   2.610557e-07
9   5.722471e-27      ...       1.138343e-27  8.115355e-25   3.238099e-09

   Street Retail     Strip Ctr       Theatre    Timberland    Truck Term  \
0   5.393102e-24  9.615998e-14  6.392276e-05  1.716501e-23  6.392276e-05
1   4.950469e-29  8.840654e-19  5.876863e-10  2.976723e-26  5.876863e-10
2   2.002965e-22  1.764504e-07  7.883240e-10  2.019291e-28  7.883240e-10
3   1.931475e-18  3.733193e-16  2.069746e-12  9.376706e-04  2.069746e-12
4   5.393102e-24  9.615998e-14  6.392276e-05  1.716501e-23  6.392276e-05
5   6.843671e-19  1.103204e-21  7.333598e-13  3.322388e-04  7.333598e-13
6   1.931475e-18  3.733193e-16  2.069746e-12  9.376706e-04  2.069746e-12
7   3.051980e-34  2.627202e-20  7.694458e-12  3.225237e-30  7.694458e-12
8   6.644518e-20  2.429707e-05  2.610557e-07  7.024904e-26  2.610557e-07
9   2.732018e-28  4.871121e-18  3.238099e-09  1.321242e-27  3.238099e-09

   Vehicle Retail     Warehouse
0    2.726673e-23  4.068792e-10
1    3.074002e-26  2.900543e-18
2    3.205125e-28  1.812364e-15
3    1.057405e-03  3.901774e-18
4    2.726673e-23  4.068792e-10
5    3.746635e-04  5.265059e-21
6    1.057405e-03  3.901774e-18
7    3.132164e-30  1.589009e-16
8    1.128356e-25  2.869836e-09
9    1.564539e-27  1.211311e-12

[10 rows x 60 columns]

In [148]:
gbm_model.model_performance(test_set)

ModelMetricsMultinomial: gbm
** Reported on test data. **

MSE: 0.856424941996
R^2: 0.996082077923
LogLoss: 20.2525529062
    Agri Biz  Agricultural  Anchor  Assisted Living  Community Ctr  Day Care  \
0          0             2       0                0              0         0
1          0             3       0                0              0         0
2          0             0       0                0              0         0
3          0             0       0                0              0         0
4          0             1       0                0              0         0
5          0             0       0                0              0         0
6          0             1       0                0              0         0
7          0             3       0                0              0         0
8          0             0       0                0              0         0
9          0             0       0                0              0         0
..       ...           ...     ...              ...            ...       ...
50         0             0       0                0              0         0
51         0             0       0                0              0         0
52         0             1       0                0              0         0
53         0             3       0                0              0         0
54         0             0       0                0              0         0
55         0             0       0                0              0         0
56         0             0       0                0              0         0
57         0             1       0                0              0         0
58         0             4       0                0              0         0
59         0            47       1                1              0         0

    Distr Warehouse  Du / Tri / Fourplex  Econ. Service  Flex Space  \
0                 0                    0              1           0
1                 0                    0              0           0
2                 0                    0              0           0
3                 0                    0              0           0
4                 0                    0              0           0
5                 0                    0              0           0
6                 0                    0              0           0
7                 0                    1              0           0
8                 0                    0              5           0
9                 0                    0              0           4
..              ...                  ...            ...         ...
50                0                    0              0           0
51                0                    0              0           0
52                0                    0              0           0
53                0                    0              0           0
54                0                    0              0           0
55                0                    0              0           0
56                0                    0              0           0
57                0                    0              0           0
58                0                    1              0           1
59                3                    9             31          11

      ...      Specialty Ctr  Street Retail  Strip Ctr  Theatre  Timberland  \
0     ...                  0              0          1        0           0
1     ...                  0              0          0        0           0
2     ...                  0              0          0        0           0
3     ...                  0              0          0        0           0
4     ...                  0              0          0        0           0
5     ...                  0              0          0        0           0
6     ...                  0              0          0        0           0
7     ...                  0              0          0        0           0
8     ...                  0              0          0        0           0
9     ...                  0              0          0        0           0
..    ...                ...            ...        ...      ...         ...
50    ...                  0              0          0        0           0
51    ...                  0              0          1        0           0
52    ...                  0              0          0        0           0
53    ...                  0              0          1        0           0
54    ...                  0              0          0        0           0
55    ...                  0              0          0        0           0
56    ...                  0              0          0        0           0
57    ...                  0              0          0        0           0
58    ...                  0              0          0        0           0
59    ...                  0              6         12        0           4

    Truck Term  Vehicle Retail  Warehouse     Error       Rate
0            0               0          0  1.000000      4 / 4
1            0               0          0  0.625000      5 / 8
2            0               0          0  1.000000      5 / 5
3            0               0          0  1.000000      3 / 3
4            0               0          0  1.000000      2 / 2
5            0               0          0  1.000000      1 / 1
6            0               0          0  1.000000      4 / 4
7            0               0          1  0.928571    13 / 14
8            0               0          0  0.444444      4 / 9
9            0               0          2  0.846154    22 / 26
..         ...             ...        ...       ...        ...
50           0               0          0       NaN      0 / 0
51           0               0          0  1.000000      1 / 1
52           0               0          0  1.000000    13 / 13
53           0               0          0  0.964286    27 / 28
54           0               0          0       NaN      0 / 0
55           0               0          0  1.000000      2 / 2
56           0               0          0  1.000000      1 / 1
57           0               1          0  0.875000      7 / 8
58           0               0          2  0.937500    30 / 32
59           0               3         14  0.858116  756 / 881

[60 rows x 61 columns]
    k  hit_ratio
0   1   0.141884
1   2   0.187287
2   3   0.224745
3   4   0.231555
4   5   0.237230
5   6   0.241771
6   7   0.246311
7   8   0.253121
8   9   0.254257
9  10   0.259932

In [146]:
gbm_model_roc=gbm_model.roc(valid=True)

AttributeError: 'H2OMultinomialModel' object has no attribute 'roc'

In [132]:
#plot(type='roc', train=False, valid=False, **kwargs)
#tnr(thresholds=None, train=False, valid=False)

NameError: name 'plot' is not defined

In [175]:
#auc(train=False, valid=False)
gbm_model.confusion_matrix(test_set)
#hit_ratio_table(train=False, valid=False)

    Agri Biz  Agricultural  Anchor  Assisted Living  Community Ctr  Day Care  \
0          0             2       0                0              0         0
1          0             3       0                0              0         0
2          0             0       0                0              0         0
3          0             0       0                0              0         0
4          0             1       0                0              0         0
5          0             0       0                0              0         0
6          0             1       0                0              0         0
7          0             3       0                0              0         0
8          0             0       0                0              0         0
9          0             0       0                0              0         0
..       ...           ...     ...              ...            ...       ...
50         0             0       0                0              0         0
51         0             0       0                0              0         0
52         0             1       0                0              0         0
53         0             3       0                0              0         0
54         0             0       0                0              0         0
55         0             0       0                0              0         0
56         0             0       0                0              0         0
57         0             1       0                0              0         0
58         0             4       0                0              0         0
59         0            47       1                1              0         0

    Distr Warehouse  Du / Tri / Fourplex  Econ. Service  Flex Space  \
0                 0                    0              1           0
1                 0                    0              0           0
2                 0                    0              0           0
3                 0                    0              0           0
4                 0                    0              0           0
5                 0                    0              0           0
6                 0                    0              0           0
7                 0                    1              0           0
8                 0                    0              5           0
9                 0                    0              0           4
..              ...                  ...            ...         ...
50                0                    0              0           0
51                0                    0              0           0
52                0                    0              0           0
53                0                    0              0           0
54                0                    0              0           0
55                0                    0              0           0
56                0                    0              0           0
57                0                    0              0           0
58                0                    1              0           1
59                3                    9             31          11

      ...      Specialty Ctr  Street Retail  Strip Ctr  Theatre  Timberland  \
0     ...                  0              0          1        0           0
1     ...                  0              0          0        0           0
2     ...                  0              0          0        0           0
3     ...                  0              0          0        0           0
4     ...                  0              0          0        0           0
5     ...                  0              0          0        0           0
6     ...                  0              0          0        0           0
7     ...                  0              0          0        0           0
8     ...                  0              0          0        0           0
9     ...                  0              0          0        0           0
..    ...                ...            ...        ...      ...         ...
50    ...                  0              0          0        0           0
51    ...                  0              0          1        0           0
52    ...                  0              0          0        0           0
53    ...                  0              0          1        0           0
54    ...                  0              0          0        0           0
55    ...                  0              0          0        0           0
56    ...                  0              0          0        0           0
57    ...                  0              0          0        0           0
58    ...                  0              0          0        0           0
59    ...                  0              6         12        0           4

    Truck Term  Vehicle Retail  Warehouse     Error       Rate
0            0               0          0  1.000000      4 / 4
1            0               0          0  0.625000      5 / 8
2            0               0          0  1.000000      5 / 5
3            0               0          0  1.000000      3 / 3
4            0               0          0  1.000000      2 / 2
5            0               0          0  1.000000      1 / 1
6            0               0          0  1.000000      4 / 4
7            0               0          1  0.928571    13 / 14
8            0               0          0  0.444444      4 / 9
9            0               0          2  0.846154    22 / 26
..         ...             ...        ...       ...        ...
50           0               0          0       NaN      0 / 0
51           0               0          0  1.000000      1 / 1
52           0               0          0  1.000000    13 / 13
53           0               0          0  0.964286    27 / 28
54           0               0          0       NaN      0 / 0
55           0               0          0  1.000000      2 / 2
56           0               0          0  1.000000      1 / 1
57           0               1          0  0.875000      7 / 8
58           0               0          2  0.937500    30 / 32
59           0               3         14  0.858116  756 / 881

[60 rows x 61 columns]

In [174]:
#gbm_model.model_performance(valid=True)
#gbm_models[0].plot(type='roc', train=False, valid=False, **kwargs)

AttributeError: 'H2OMultinomialModel' object has no attribute 'plot'